// NAVBAR
// $nb-bg: linear-gradient(#dcf6ff,#f0fbff);
$nb-bg: #f0fbff;
$nb-ft: #0073a0;

// SIDEBAR
$sb-bg: linear-gradient(#33c5ff, #007ddc);
$sb-ft: #d9fbff;
$sb-bd: #7badd3;

// SIDEBAR ITEM
$sb-item-bg: #000e1c;
$sb-item-bg-ac: #007cae33;
$sb-item-bg-hv: #f0fbff33;

$sb-item-ft: #688ab1;
$sb-item-ft-ac: #f4feff;
$sb-item-ft-hv: #f4feff;

// SIDEBAR SUBITEM
$sb-subitem-bg: transparent;
$sb-subitem-bg-ac: transparent;
$sb-subitem-bg-hv: transparent;
$sb-subitem-ft: #04264d;
$sb-subitem-ft-ac: #007bff;
$sb-subitem-ft-hv: #007bff;

//   LOCATIONBAR
$lb-bg: linear-gradient( #007ddc,#0033a0);
$lb-ft: #f5faff;

// CONTENT
$content-bg: #dcecf2;

// FORM
$fr-bg: #f0f9ff;
$fr-ft: #007cdc;
$fr-bd: transparent;


//TABLE
$tbl-bg:transparent;
$tbl-bd:#cbe1f1;
$tbl-ft:#2893e4;


//CONTROLS
$ctrl-bg:#e6f4ff;
$ctrl-ft:#4a5863;
$ctrl-ft-ph:#78add6;
$ctrl-bd:#0091ff;


//PAGINATION
$pnt-bg:#000;
$pnt-bg-hv:#000;
$pnt-bg-ac:#000;

$pnt-ft:#000;
$pnt-ft-hv:#000;
$pnt-ft-ac:#000;