<div class="form">
    <div class="title-l">Especialistas</div>
    <div class="options">
        <e-button desc="Nuevo" [routerLink]="['/admin/especialista/form']"></e-button>
        <e-input desc="Buscar" placeholder="Buscar..." (echange)="search($event)"></e-input>
    </div>
    <div *ngIf="pagination.content.length==0" class="title">No se encontraron registros <br><br></div>
    <table *ngIf="pagination.content.length>0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>DNI</th>
                <th>Especialidad</th>
                <th>Sucursal</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of pagination.content">
                <td>{{item.id}}</td>
                <td>{{item.nombres}}</td>
                <td>{{item.apellidos}}</td>
                <td>{{item.dni}}</td>
                <td>{{item.especialidad}}</td>
                <td>{{item.sucursal}}</td>
                <td>
                    <div class="actions">
                        <div class="action a-active" [routerLink]="['/admin/especialista/form',item.id]"><i
                                class="fas fa-clipboard-list"></i>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <epagination [totalPages]="pagination.totalPages" [currentPage]="pagination.currentPage"
        (pageChange)="changePage($event)"></epagination>
</div>