<div class="form">
    <div class="title-l">Cliente</div>


    <ecarousel></ecarousel>

    <einput-s></einput-s>
    <e-select-s [data]="['CAmpo 01','Campo 02','Campo 03']"></e-select-s>
    <e-input desc="Nombre"></e-input>
    <e-select desc="Prueba" [data]="['CAmpo 01','Campo 02','Campo 03']"></e-select>

    <div class="actions">
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>

    </div>
    <div class="actions">
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
    </div>
    <div class="actions">
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
    </div>
    <div class="actions">
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
    </div>
    <div class="actions">
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
    </div>
    <div class="actions">
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
        <e-button desc="Aceptar"></e-button>
    </div>
</div>